body {
    padding-bottom: 500px;
}

.flex {
    background-color: aqua;
    display: flex;
    margin-bottom: 20px;
}

/* flex column */

.flex-column {
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    margin-bottom: 20px;
}

.wrap {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.box {
    height: 40px;
    width: 33%;
    border: 1px solid red;
}

/* justify content */
.center {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;

}

.center .box {
    width: 50px;
}