body {
    padding-bottom: 500px;
}

.flex {
    background-color: aqua;
    display: flex;
    margin-bottom: 20px;
}

/* flex column */

.flex-column {
    display: flex;
    flex-direction: column;
    background-color: #ccc;
    margin-bottom: 20px;
}

.wrap {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.box {
    height: 40px;
    width: 33%;
    border: 1px solid red;
}

/* justify content */
.center {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;

}

.center .box {
    width: 50px;
}

/* gap */
.gap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid green;
    gap: 10px;
}

.gap .box {
    width: 32%;
}

/* order */
.order {
    display: flex;
}

#one {
    order: 1;
}

#two {
    order: 2;
}

#three {
    order: 3;
}

/* grow */

.grow {
    display: flex;
}

.grow .box {
    flex: 1;
}

.grow .big {
    flex-grow: 2;
}

/* align-self */

.align-self {
    display: flex;
    height: 300px;
    border: 1px solid purple;
    align-items: flex-start;
}

.align-self .self {
    align-self: center;
}